.checkboard {
	background-color: #FDD8BA;
	background-size: 50px 50px;
	background-image:	-webkit-linear-gradient(45deg, green, green 26%, transparent 26%, transparent),
	 					-webkit-linear-gradient(-45deg, green, green 26%, transparent 26%, transparent),
	 					-webkit-linear-gradient(135deg, green, green 26%, transparent 26%, transparent),
	 					-webkit-linear-gradient(-135deg, green, green 26%, transparent 26%, transparent);

	background-image:	linear-gradient(45deg, green, green 26%, transparent 26%, transparent),
	 					linear-gradient(-45deg, green, green 26%, transparent 26%, transparent),
	 					linear-gradient(135deg, green, green 26%, transparent 26%, transparent),
	 					linear-gradient(-135deg, green, green 26%, transparent 26%, transparent);
}