.garland2 {
	background-color: white;
	background-size: 40px 40px;
	background-image: -webkit-repeating-linear-gradient(-45deg, white 0%, white 1%, transparent 0%, transparent 24%, white 25%, white 25%),
 					  -webkit-repeating-linear-gradient(45deg, white 0%, white 1%, transparent 0%, transparent 24%, white 25%, white 25%),
 					  -webkit-repeating-linear-gradient(-45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%),
 					  -webkit-repeating-linear-gradient(45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%);

	background-image: repeating-linear-gradient(-45deg, white 0%, white 1%, transparent 0%, transparent 24%, white 25%, white 25%),
 					  repeating-linear-gradient(45deg, white 0%, white 1%, transparent 0%, transparent 24%, white 25%, white 25%),
 					  repeating-linear-gradient(-45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%),
 					  repeating-linear-gradient(45deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%);
}