.abstract {
	background-color:#03501B;
	background-size: 80px 120px;
	background-image: 
					-webkit-repeating-linear-gradient(#530000, #530000 12.5%, transparent 12.5%, transparent 25%, ),
					-webkit-repeating-linear-gradient(-36.5deg, transparent -12.5%,transparent -0.6% , rgba(255, 255, 255, 0.5) 0%,  transparent 0.6%, transparent 12.5%),
 					-webkit-repeating-linear-gradient(36.5deg, transparent -12.5%,transparent -0.6% , rgba(255, 255, 255, 0.5) 0%,  transparent 0.6%, transparent 12.5%)
 	
						

						;
 					-webkit-repeating-linear-gradient(-38.5deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%),
 					-webkit-repeating-linear-gradient(38.5deg, rgba(166, 5, 34, 0.7) -15.5%, rgba(166, 5, 34, 0.7) 15.5%, transparent 13%, transparent 34.5%);

}